#cv-template
{
    display: none;
}
.myimg
{
    border-radius: 50%;
    width: 200px;
}
span{
    text-decoration-color: rgba(81, 20, 131, 0.753);
    text-shadow: 5px;
    border-radius: 5px;
    
}

.background
{
    background-color: rgb(127, 185, 255);
}

.big-size
{
    font-size: 35px;
    
}
.small-size
{
    font-size: 10px;
    
}
